<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GW2 API Verify DevTool</title>
  </head>
  <body>
    <h1>Tarnished-Coast Hand Verify Tool</h1>
    {% if context %}
    <ul>
      {% for key in context.keys() %}
        <li>{{ key }}: {{ context[key] }}</li>
      {% endfor %}
    </ul>
    <a href="/">< Verify another API key</a>
    {% else %}
      <form action="/verify" method=post>
        <h3>Please enter an API key.</h3>
        <input type="text" name="api_key" size="80">
        <br><br>
        <input type="submit" value="Check API Key">
      </form>
    {% endif %}
  </body>
</html>
